server {
    listen 80;
    listen 443 ssl;
    server_name 127.0.0.1 localhost;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_certificate /etc/nginx/certs/localpublic.pem;
    ssl_certificate_key /etc/nginx/certs/localprivate.key;

    index index.php index.html;
    error_log /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;
    root /app/public;

    client_max_body_size 200M;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php-fpm:9000;
#        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_index index.php;
        fastcgi_read_timeout 1000;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }

    location /kibana {
        set $upstream http://kibana:5601;
        proxy_pass $upstream;
        proxy_redirect off;
        proxy_buffering off;
        proxy_http_version 1.1;
        proxy_pass_header Authorization;
        proxy_set_header Connection "Keep-Alive";
        proxy_set_header Proxy-Connection "Keep-Alive";
    }
}