<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="var/cache/.phpunit.result.cache"

         colors="true"
         stopOnError="true"
         stopOnFailure="true"
         stopOnRisky="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutTodoAnnotatedTests="true"
>

    <testsuites>
        <testsuite name="unit">
            <directory>src/Auth/Test</directory>
            <directory>src/Shared/Test</directory>
            <directory>src/DataLoad/Test</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

<!--    <extensions>-->
        <!-- it begins a database transaction before every testcase and rolls it back after
             the test finished, so tests can manipulate the database without affecting other tests -->
<!--        <extension class="\DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />-->
<!--    </extensions>-->

    <php>
        <ini name="error_reporting" value="-1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" />
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
</phpunit>
