:9090 {
    basicauth / {
        {$CADDY_ADMIN_USER} {$CADDY_ADMIN_PASSWORD}
    }
    reverse_proxy prometheus:9090
}

:9093 {
    basicauth / {
        {$CADDY_ADMIN_USER} {$CADDY_ADMIN_PASSWORD}
    }
    reverse_proxy alertmanager:9093
}